{% extends 'polls/base.html' %}

{% block content %}

<a href="{% url 'polls:index' %}"><-Volver al listado</a>

<form action="{% url 'polls:vote' question.id %}" method="post" class="form">
    {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_message %}<p><strong style="color:red">{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forLoop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Votar">
</form>
{% endblock %}